/* Universal styles */

body {
  margin: 0px;
}

header,
main,
div {
  border: 1px solid black;
}

/* Universal styles */

/* Header */
header {
  display: flex;
  font-size: 14px;
  font-weight: bold;
  font-family: Verdana;
  align-items: center;
  border-bottom: 1px solid black;
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 10;
  background-color: #ffffff;
}

.logo {
  display: flex;
  align-items: center;
  margin: auto 30px;
  flex-grow: 1;
}

.logo span {
  color: mediumaquamarine;
  text-decoration: none;
  margin-left: 20px;
}

 nav {
  margin-right: 30px;
 }
span {
  display: inline-block;
  text-decoration: underline;
  margin: auto 10px;
}

/* Main content */

main {
  display: flex;
  position: relative;
  top: 80px;
  width: 100%;
}

.column.large {
  width: 630px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 40px;
  margin-right: 30px;
}

.column.medium {
  width: 300px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 40px;
  margin-right: 30px;
}

.column.small {
  width: 240px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 40px;
  margin-right: 30px;
}

.headline {
  font-size: 25px;
  font-weight: bold;
}

.title-text  {
  margin: 0px;
}

#news-bites-title {
  font-size: 20px;
  font-weight: bold;
}
