/* Universal styles */

body {
  margin: 0px;
}

/*
header,
main,
div {
  border: 1px solid black;
}
*/
/* Universal styles */

/* Header */
header {
  display: flex;
  font-size: 14px;
  font-weight: bold;
  font-family: Verdana;
  align-items: center;
  border-bottom: 1px solid black;
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 10;
  background-color: #ffffff;
}

.logo {
  display: flex;
  align-items: center;
  margin: auto 30px;
  flex-grow: 1;
}

.logo span {
  color: mediumaquamarine;
  text-decoration: none;
  margin-left: 20px;
}

 nav {
  margin-right: 30px;
 }
span {
  display: inline-block;
  text-decoration: underline;
  margin: auto 10px;
}

/* Main content */

main {
  display: flex;
  position: relative;
  top: 80px;
  width: 100%;
}

.column.large {
  width: 630px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 40px;
  margin-right: 29px;
}

.column.medium {
  width: 300px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 40px;
  margin-right: 29px;
}

.column.small {
  width: 240px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 40px;
  margin-right: 29px;
}

.headline {
  font-size: 25px;
  font-weight: bold;
}

.title-text  {
  margin: 0px;
}


.article-text {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.title-text {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.stories {
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
}

.story {
  display: flex;
    flex-direction: column;
  width: 300px;
}

#story-main-title {
  font-size: 40px;
}

.title {
  display: flex;
}

#story-main{
  display: flex;
  width: 629px;
  height: 300px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  text-align: center;
  align-items: center;
}

#story-1 {
  display: flex;
  width: 299px;
  height: 300px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
  text-align: center;
  align-items: center;
}

#story-2 {
  display: flex;
  width: 299px;
  height: 300px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
  text-align: center;
  align-items: center;
}

#story-3 {
  display: flex;
  width: 299px;
  height: 300px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
  text-align: center;
  align-items: center;
}


.column-small {
  display: flex;
  flex-direction: column;
}

#news-bites-title {
  font-size: 16px;
  font-weight: bold;
}

.news-bite {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  margin: 0px;
  border-bottom: 1px solid black;
  padding: 11px 20px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: MediumAquamarine;
   margin: auto;
   font-family: Verdana;
   font-size: 12px;
   height: 325px;
   width: auto;
   flex-direction: column;
   margin-top: 120px;
}

.info p{
  display: inline-block;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-right: 25px;
  border-right: 2px solid white;
}

.info span {
  margin: 20px;
}
